
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-mono-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-mono-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-mono-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-mono-v11-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/space-mono-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/space-mono-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/space-mono-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/space-mono-v11-latin-700.svg#SpaceMono') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lexend-deca-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lexend-deca-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lexend-deca-v16-latin-regular.svg#LexendDeca') format('svg'); /* Legacy iOS */
}




html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
